.section {
	@apply pb-10;
}
.heading {
	@apply flex items-center gap-2 font-black mb-5;
	font-size: 17px;

	> svg {
		stroke-width: 1.5px;
		fill: #6b6d7b;
		stroke: #17171f;
	}
}
.cases {
	@apply flex flex-wrap gap-2.5;
}
.case {
	max-width: calc(100% / 6 - 8.5px);
}

@media (max-width: 1200px) {
	.case {
		max-width: calc(100% / 5 - 8px);
	}
}

@media (max-width: 1000px) {
	.section {
		@apply pb-8;
	}
	.heading {
		@apply mb-4;
		font-size: 15px;

		> svg {
			width: 22px;
			height: 22px;
		}
	}
	.cases {
		@apply gap-1.5;
	}
	.case {
		max-width: calc(100% / 4 - 4.5px);
	}
}

@media (max-width: 750px) {
	.case {
		max-width: calc(100% / 3 - 4px);
	}
}

@media (max-width: 600px) {
	.section {
		@apply pb-6;
	}
	.heading {
		font-size: 14px;

		> svg {
			@apply w-5 h-5;
		}
	}
}

@media (max-width: 500px) {
	.case {
		max-width: calc(50% - 3px);
	}
}
