.list {
	@apply flex items-center gap-2.5;
}
.item {
	@apply flex items-center;
}
.link {
	> svg {
		@apply transition-colors;
		width: 22px;
		height: 22px;
		fill: #555a68;
	}

	&:hover > svg {
		fill: #7e8494;
	}
}

@media (max-width: 900px) {
	.list {
		@apply gap-2;
	}
	.link > svg {
		@apply w-5 h-5;
	}
}

@media (max-width: 600px) {
	.link > svg {
		width: 18px;
		height: 18px;
	}
}